 <!DOCTYPE html>
<html>

<head>

<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&family=Tektur&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/53fc67c383.js" crossorigin="anonymous"></script>  



</head>
<body>
    {{{body}}}

</body>
  <footer>2023©Suzy Zou (Ya Zou)</footer>
</html>