 <!DOCTYPE html>
<html>

<head>

<link href="../css/style.css" rel="stylesheet" type="text/css" />


</head>
<body>
    {{{body}}}

</body>
  <footer>2023©Max Zimmer & Suzy Zou (Ya Zou)</footer>
</html>