<head>
  <h1>Categories</h1>
<body onload="browsePeople()">
    <nav class="navbar">
        <ul class = "navlist">
            <li class = "home"><a href="./home">Home</a> </li>
            <li class = "add_item_link"><a href="/">Customers</a></li>
            <li class = "add_order_link"><a href = "/orders">Orders</a></li>
            <li class = "add_order_link"><a href = "/items">Items</a></li> 
            <li class = "add_order_link"><a href = "/reviews">Reviews</a></li>
            <li class = "add_order_link"><a href = "/categories">Categories</a></li>
        </ul>
    </nav>
<body>
</head>

 <div class="button-container">
    <a href="#" id="displayAllForms" onClick="showAll()" class="circular-button">All Forms</a>
 </div>

 <div id ="browse">
    <td><a href="#" onClick="newPerson()">Add</a></td>
</div>




<table id= "browse"> 
    {{!-- Header section --}}
    <thead >
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
    
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
    
            <td>{{this.categoryID}}</td>
            <td>{{this.categoryName}}</td>  
        </tr>
        {{/each}}
    </tbody>
</table>


<!--insert A Category-->
<div id="insert">
<form id="add-category-form" method="POST" action="/add-category-form">
<fieldset class="fields">

    <label for="input-category-name">categoryName: </label>
    <input type="text" name="input-category-name" id="input-category-name">

   </fieldset>
    <input class="btn" type="submit" id="addPerson" value="Add">
     <input class="btn" type="button" value="cancel" onClick="browsePeople()">
</form>
</div>

<script src ="./js/addCategories.js">  </script> 