<main class="error-page">
  <h2>An Error Occured</h2>
  <p>We're sorry for the inconvenience caused by our system's limitation on using the same email address twice. Your understanding is appreciated as we work to improve our services.</p>
  <input class="btn" type="button" value="go back" onClick="browsePeople()">
</main>